---
const frontmatter = Astro.props;
const { title, image, alt, url, testItem1 } = frontmatter;
---

<div id="sq" class="text-rosyBrown py-5 opacity-80 hover:opacity-100">
  <a href={url}>
    <div class="flex font-semibold pt-1 pb-1 pl- pr-1 bg-">
      <h3 class="text-slate-600 text-xl ">...{title}</h3>
    </div>
    <img src={image} class="drop-shadow-xl border border-gray-300" alt={alt} />
  </a>
  <div class="pl-2 pt-1 flex">
    <p class=" font-bold rounded px-2 pb-1 mt-1">
      - {testItem1}
    </p>
  </div>
</div>
