---
import MainLayout from "../layouts/MainLayout.astro";
import SiteCard from "../components/SiteCard.astro";
import Contact from "../components/sections/Contact.astro";
const allFeaturedSites = await Astro.glob("./creative-concepts/*.md");
import LcCta from "../components/sections/LcCta.jsx";
import Header from "../components/Header.astro";
import About from "../components/sections/About";
---

<MainLayout>
  <div id="homepage-wrapper" class="flex lg:flex-row flex-col">
    <div
      id="LEFT-PANEL"
      class="bg- border-r border-black 2xl:p-5 p-2 md:h-screen 2xl:absolute relative md:left-0 sm:bottom-0 md:w-2/5 w-full overflow-y-scroll overflow-x-hidden"
    >
      <div id="left-side-container" class="bg- ml-1 md:pr-5 pr-2 md:mr-5 mr-3">
        <Header />
        <About />
        <div
          id="leftside-conditional-contact-wrapper"
          class="2xl:visible invisible"
        >
          <Contact />
        </div>
      </div>
    </div>

    <div
      id="RIGHT-PANEL"
      class="px-5 font-medium border-l border-onyx 2xl:h-screen h-full md:absolute relative right-0 sm:bottom md:w-3/5 w-full md:overflow-y-scroll overflow-x-hidden xl:p-5"
    >
      <LcCta />
      <!-- CREATIVE CONCEPTS V -->
      <div id="creative-concepts-cta" class="bg- mr-2 mt-[155px] md:px-5">
        <h2 class="text-3xl">Creative Concepts</h2>
        <p id="services" class="bg- p-1">
          There are my other projects in progress, In the rest of my free time,
          I enjoy building these out with javascript frameworks or php
          wordpress. I've built these three sites to not only categorize and
          simplify my life, but to be creative too! So far, I've built...
        </p>
        <div
          id="
            grid"
          class="pl-1 pr-3 grid 2xl:grid-cols-2 gap-12"
        >
          {
            allFeaturedSites.map((work) => (
              <SiteCard
                title={work.frontmatter.title}
                image={work.frontmatter.image.url}
                alt={work.frontmatter.image.alt}
                url={work.url}
                testItem1={work.frontmatter.testItem1}
                language={work.frontmatter.language}
                backend={work.frontmatter.backend}
              />
            ))
          }
        </div>
      </div>
      <!-- CREATIVE CONCEPTS ^ -->
      <div id="conditional-contact-wrapper" class="2xl:invisible visible">
        <Contact />
      </div>
    </div>
  </div>
</MainLayout>
